{escript_main_app, snatch_playground}.
{escript_incl_erts, false}.
{escript_incl_apps, [snatch]}.
{escript_emu_args, "%%! -smp enable\n"}.
{escript_extended_start_script, true}.
{escript_entry_point, {snatch_playground, main}}.

{deps, [
   {snappyer, "1.2.9"},
   {snatch, {git, "https://github.com/bholten/snatch.git", {ref, "48f702b"}}}
  ]}.
