{escript_main_app, snatch_playground}.
{escript_incl_erts, false}.
{escript_incl_apps, [snatch]}.
{escript_emu_args, "%%! -smp enable\n"}.
{escript_extended_start_script, true}.
{escript_entry_point, {snatch_playground, main}}.

{deps, [
   {erlcloud, {git, "https://github.com/xmppjingle/erlcloud.git", {branch, "fix_imdsv2"}}},
   {fast_xml, "1.1.49"},
   {snappyer, "1.2.9"},
   {snatch,    {git, "https://github.com/bholten/snatch.git", {branch, "sqs-fixes"}}},
   {lhttpc, "1.6.2"}
  ]}.

{relx,
   [{release, {snatch_playground, "0.1.0"},
   [snatch_playground]},
   {dev_mode, true},
   {include_erts, true}]}.
